@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent;
}

html {
    -webkit-text-size-adjust: none;
}

body {
    -webkit-user-select: none;
    font-family: "\5FAE\8F6F\96C5\9ED1", Helvetica, sans-serif;
    font-size: 12px;
    color: #fff;
}

header, footer, nav, section, aside, figure, figcaption, article, audio, video {
    display: block;
}

input {
    outline: none;
}

ul, li {
    list-style: none;
}

a, a:hover, a:active, a:visited, a:target {
    text-decoration: none;
    color: #fff;
}

img,span{
    display: block;
    border: none;
}

.clear:after {
    display: block;
    height: 0;
    content: "";
    clear: both;
}

html {
    font-size: 100px;
}

html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/*--ARROW--*/
.arrow {
    position: absolute;
    left: 50%;
    bottom: .2rem;
    z-index: 100;
    margin-left: -.24rem;
    width: .48rem;
    height: .36rem;
    background: url("../img/web-swipe-tip.png") no-repeat;
    background-size: 100% 100%;

    opacity: 1;
    -webkit-animation: arrowFlash 1s linear 0s infinite;
    animation: arrowFlash 1s linear 0s infinite;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

@keyframes arrowFlash {
    0%, 100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    50% {
        opacity: 0.1;
        -webkit-transform: translateY(-10px);
        transform: translateY(-10px);
    }
}

/*--SWIPER--*/

.swiper-container {
    height: 100%;
}

.swiper-slide {
    position: relative;
    height: 100%;
}

.bg {
    background: url("../img/bg.jpg") no-repeat;
    background-size: 100% 100%;
}



/*--第一页的样式--*/

.title {
    margin: .5rem auto;
    text-align: center;
}

.title span{
    display: block;
    letter-spacing: 0.25em;
}
.title .titleFir {
    height: .3rem;
}

.title .titleTwo {
    font-size: 32px;
}

.title div {
    margin: 0.1rem;
    width: 100%;
    height: .1rem;
    background: -webkit-linear-gradient(left, rgba(186, 186, 186, 0) 0, rgba(186, 186, 186, 1) 20%, rgba(186, 186, 186, 1) 80%, rgba(186, 186, 186, 0) 100%);
}
.title .titleThr{
    font-size: 14px;
    height: .3rem;
}
/*title*/
.middle,.outer{
    position: absolute;
    top: 30%;
    left: 1.5rem;
    border-radius: 50%;
    width: 3.5rem;
    height: 3.5rem;
}
.middle{
    background: url("../img/middle1.jpg") no-repeat;
    background-size: 100% 100%;
}
.inner{
    position: absolute;
    left: 5%;
    top: 5%;
    border-radius: 50%;
    width: 90%;
    height: 90%;
    background: url("../img/middle2.jpg") no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}
.outer img{
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 50%;
    width: 80%;
    height: 80%;
}
.midMove {
    -webkit-animation: midMove 3s linear infinite both;
    animation: midMove 3s linear infinite both;
}
@-webkit-keyframes midMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes midMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes innerMove{
    0%   {opacity: 1;}
    50%  {opacity: 0.1;}

    100% {opacity: 1;}
}
.inner{
    animation: innerMove 3s infinite;
}
/*middle*/
.bottom{
    position: absolute;
    top: 65%;
    left: 20%;
    width: 4rem;
    height: 20%;
    text-align: center;
}
.bottom span{
    display: block;
    letter-spacing: 0.25em;
    padding: .1rem;
    font-size: 20px;
}
.bottom span.phone{
    letter-spacing:0;
    color: rgb(204, 204, 204);
}

#page1 .title span:nth-child(1){
    -webkit-animation: zoomIn 2s 0s both;
    animation: zoomIn 2s 0s both;
}
#page1 .title span:nth-child(2){
    -webkit-animation: lightSpeedIn 2s 0s both;
    animation: lightSpeedIn 2s 0s both;
}
#page1 .title span:nth-child(4){
    -webkit-animation: bounceInDown 2s 0s both;
    animation: bounceInDown 2s 0s both;
}
#page1 .bottom span:nth-child(1){
    -webkit-animation: bounceInUp 1s 0s both;
    animation: zoomIn 1s 0s both;
}
#page1 .bottom span:nth-child(2){
    -webkit-animation: bounceInUp 1s 1s both;
    animation: zoomIn 1s 1s both;
}
/*------第二页动画------------------------------------------*/
.pageH,.cover{
    position: absolute;
    top: 10%;
    left: 10%;
    width: 2.4rem;
    height: 2.4rem;
    line-height: 2.4rem;
    text-align: center;
    font-size: 20px;
    color: #fff;
    font-weight: 700;
    background: url("../img/page2.jpg") no-repeat;
    background-size: 2.4rem 2.4rem;
}
.cover{
    -webkit-animation: midMove 3s linear infinite both;
    animation: midMove 3s linear infinite both;
}
.list{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 100%;
}
.list li{
    position: relative;
    margin-top: 0.2rem;
    width: 100%;
}
.list .left{
    border: .02rem solid #64aefa;
    border-radius: 50%;
    width:1rem;
    height: 1rem;
}
.list .left span{
    margin: 0.1rem 0.1rem;
    display: block;
    border-radius: 50%;
    width: 0.8rem;
    height: 0.8rem;
    line-height: 0.8rem;
    text-align: center;
    background: #fff;
    font-size: 0.48rem;
    color: #007aff;
    font-weight: 700;
}
.triangle{
    position: absolute;
    top: .2rem;
    left: 1.3rem;
    width: 0;
    height: 0;
    border: .3rem solid transparent ;
    border-left: 0.5rem solid #64aefa;
}
.right{
    position: absolute;
    top: .15rem;
    left: 2rem;
    padding: 0.1rem;
    border: .02rem dashed #ffffff;
    width:50%;
    height: 0.5rem;
}
.right div{
    height: 100%;
        background: #86ecff;
}
.right div .pageInner{
    text-align: right;
    width: 80%;
    height: 100%;
    line-height: 0.5rem;
    font-size: 0.14rem;
    background: #64aefa;
}
.right div .percent1{
    width: 85%;
}
.right div .percent1{
    width: 70%;
}
#page2 .list li:nth-child(1){
    -webkit-animation: fadeInLeft 2s 0s both;
    animation: fadeInLeft 2s 0s both;
}
#page2 .list li:nth-child(2){
    -webkit-animation: fadeInLeft 2s 1s both;
    animation: fadeInLeft 2s 1s both;
}
#page2 .list li:nth-child(3){
    -webkit-animation: fadeInLeft 2s 2s both;
    animation: fadeInLeft 2s 2s both;
}
#page2 .list li:nth-child(4){
    -webkit-animation: fadeInLeft 2s 3s both;
    animation: fadeInLeft 2s 3s both;
}
#page2 .triangle{
    animation: innerMove 3s infinite;
}
/*------第三页样式--------------------------------------*/
.page3Tit{
    margin: 1rem auto;
    border-radius: 50%;
}
.page3Tit span{
    display: block;
    margin: 10% 40%;
    font-size: 0.48rem;
}
.pageList{
    position: relative;
    width: 100%;
    height: 100%;
}
.pageList>li{
    position: absolute;
    width: 40%;
    height: 20%;
    text-align: center;
}
.pageList>li>span{
    display: block;
    font-size: .14rem;
}
.pageList>li:nth-child(1){
    top: 0;
    left: 50%;
    width: 1%;
    height: 60%;
    background: #fff;
}
.pageList>li:nth-child(2){
    top: 0.2rem;
    left: 10%;

}
.pageList>li:nth-child(3){
    top: 1rem;
    left: 50%;
}
.pageList>li:nth-child(4){
    top: 2.5rem;
    left: 10%;
}
.pageList>li:nth-child(5){
    top: 3.5rem;
    left: 50%;
}
.pageList>li:nth-child(6){
    top: 4.5rem;
    left: 10%;
}
.pageList>li:nth-child(7){
    top: 5rem;
    left: 50%;
}
#page3 .pageList>li:nth-child(even){
    -webkit-animation: bounceInLeft 5s 0s both;
    animation: bounceInLeft 5s 0s both;
}
#page3 .pageList>li:nth-child(odd){
    -webkit-animation: bounceInRight 5s 0s both;
    animation: bounceInRight 5s 0s both;
}
#page3 .pageList>li:nth-child(1){
    -webkit-animation: bounceInUp 5s 0s both;
    animation: bounceInUp 5s 0s both;
}
/*-----第四页样式------------------------------------*/
.pageOuter{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pageFir{
    position: absolute;
    left: -0.6rem;
    bottom: -0.5rem;
    border: 2px dashed #ff319d;
    border-radius: 50%;
    width: 50%;
    height: 30%;
}
.pageTwo{
    position: absolute;
    right: -1rem;
    top: -1rem;
    border: 2px dashed #ffbe33;
    border-radius: 50%;
    width: 64%;
    height: 40%;
}
.call,.need{
    position: absolute;
    top: 40%;
    left: 10%;
    font-size: .48rem;
    color: #fff;
    text-shadow: 5px 5px 5px #FF0000;
}
.pageOuter .call{
    top: 50%;
}
.pageOuter>div{
    -webkit-animation: midMove 3s linear infinite both;
    animation: midMove 3s linear infinite both;
}
.call{
    -webkit-animation: myfirst 5s linear infinite both;
    animation: myfirst 5s linear infinite both;
}
.need{
    -webkit-animation: fadeInLeft 5s 0s both;
    animation: fadeInLeft 5s 0s both;
}
@-webkit-keyframes myfirst{
    0%   {color: #fff; left:10%; top:10%;}
    25%  {color: yellow; left:50%; top:20%;}
    50%  {color: blue; left:40%; top:60%;}
    75%  {color: yellow; left:10%; top:30%;}
    100% {color: #fff; left:10%; top:10%;}
}
@keyframes myfirst{
    0%   {color: #fff; left:10%; top:10%;}
    25%  {color: yellow; left:50%; top:20%;}
    50%  {color: blue; left:40%; top:60%;}
    75%  {color: yellow; left:10%; top:30%;}
    100% {color: #fff; left:10%; top:10%;}
}
@-webkit-keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

@keyframes bounceInUp {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, -20px, 0);
        transform: translate3d(0, -20px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, 10px, 0);
        transform: translate3d(0, 10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -5px, 0);
        transform: translate3d(0, -5px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
@-webkit-keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInRight {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(-25px, 0, 0);
        transform: translate3d(-25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(-5px, 0, 0);
        transform: translate3d(-5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInLeft {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(-3000px, 0, 0);
        transform: translate3d(-3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(25px, 0, 0);
        transform: translate3d(25px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(5px, 0, 0);
        transform: translate3d(5px, 0, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes bounceInDown {
    from, 60%, 75%, 90%, to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    }

    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0, 25px, 0);
        transform: translate3d(0, 25px, 0);
    }

    75% {
        -webkit-transform: translate3d(0, -10px, 0);
        transform: translate3d(0, -10px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, 5px, 0);
        transform: translate3d(0, 5px, 0);
    }

    to {
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 1;
    }
}
@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@-webkit-keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

@keyframes lightSpeedIn {
    from {
        -webkit-transform: translate3d(100%, 0, 0) skewX(-30deg);
        transform: translate3d(100%, 0, 0) skewX(-30deg);
        opacity: 0;
    }

    60% {
        -webkit-transform: skewX(20deg);
        transform: skewX(20deg);
        opacity: 1;
    }

    80% {
        -webkit-transform: skewX(-5deg);
        transform: skewX(-5deg);
        opacity: 1;
    }

    to {
        -webkit-transform: none;
        transform: none;
        opacity: 1;
    }
}

/*--AUDIO--*/
.audio {
    display: none;
    position: absolute;
    top: .2rem;
    right: .2rem;
    z-index: 100;
    width: .6rem;
    height: .6rem;
    background: url("../audioFile/music.svg") no-repeat;
    background-size: 100% 100%;
}

.audio .audioMp3 {
    display: none;
}

.audioMove {
    -webkit-animation: audioMove 1s linear infinite both;
    animation: audioMove 1s linear infinite both;
}

@-webkit-keyframes audioMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes audioMove {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
